.container {
    position: relative;
    width: 100%;
    height: 20%;
}

.form-image2 {
    position: relative;
    width: 100%;
}

.form-image2 img {
    width: 100%;
    /*height: auto;*/
    display: block;
}

.form-image {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    z-index: 1;
}

.form-image img {
    width: 50px; /* Mantive seu tamanho original */
    height: 50px;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin: 0 auto;
    padding: 20px; /* Espaço interno do container */
    gap: 20px; /* Remove espaço entre os filhos */
}

.video {
    max-width: 30%; /* Largura do vídeo */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove espaçamento interno */
}

.form-header {
    max-width: 70%; /* Largura do texto */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove espaçamento interno */
    text-align: left;
}

.title {
    margin: 0; /* Remove margens */
    padding: 0; /* Remove espaçamento interno */
}